# =========================
# Python
# =========================
.venv/
__pycache__/
*.pyc

# =========================
# Database
# =========================
db.sqlite3

# =========================
# Environment Variables
# =========================
.env

# =========================
# Google OAuth / Credentials
# =========================
credentials/
hrms portal/newproject/credentials/

# =========================
# Media & Uploads
# =========================
media/temp_uploads/
media/mock_drive/

# =========================
# Node Modules
# =========================
node_modules/

# =========================
# React Build Files
# =========================
dist/

# =========================
# VS Code
# =========================
.vscode/

# =========================
# OS Files
# =========================
.DS_Store